body {
  background: linear-gradient(145deg, #6d91ff 3.26%, #5076eb 33.68%, #3458c7 99.11%);
  background-repeat: no-repeat;
  min-height: 100dvh;
}

body,
html {
  padding: 0;
  margin: 0;
}

p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

main {
  box-sizing: border-box;
  padding: 24px;
}
